/*screaming snake case = MY_VARIABLE*/

#body{

background-color: rgb(196, 196, 196);











}

.data{
      font-size: 40px;
      text-decoration:solid;
}


.table{

      align-items: center;
}


table, th, td {
      border: 1px solid black;
      text-align: center;
      background-color:darkgray;
      color:maroon;
      font-weight: bold;
    }



#launchPage{



      background-color: beige;


}


#loginPage{

      background-color: beige;






}



#loginForm{

      
      text-align: center;
      
      
}


#newMessage{

      color: purple;
      font-size: 34px;
      text-align-last: center;

}




#blink{

    
      font-size: 30px;
      font-weight: bold;
      font-family: sans-serif;
      color: #1c87c9;
      transition: 0.4s;
      text-align: center;
    





}

#CountDis{


      font-size: 50px;
      color: red;



}